#background{
  -fx-background-color: #e0ebeb;
}


#button {
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;

}
#button:disabled{
-fx-opacity:0.7;
}
#dis_button{
   -fx-background-color:
       #3c7fb1,
       linear-gradient(#fafdfe, #e8f5fc),
       linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
   -fx-background-insets: 0,1,2;
   -fx-opacity: 0.7;
}
